{{!-- Helper partial for effect items --}}
{{#*inline "effect-item"}}
    <div class="effect-item" style="height: {{itemSize}}px;">
        <div class="effect-info">
            <div class="effect-name">{{effect.name}}</div>
            {{#if canViewEffectDetails}}
                <div class="effect-info-details">
                    {{#if effect.description}}
                        <div class="effect-description">{{{effect.description}}}</div>
                    {{/if}}
                    <div class="panel-tags">
                        <div class="panel-tag panel-tag_primary">{{type}}</div>
                        <div class="panel-tag panel-tag_secondary">{{effect.timeLabel}}</div>
                        {{#if effect.flags.core.overlay}}
                            <div class="panel-tag panel-tag_tertiary">overlay</div>
                        {{/if}}
                        {{#if disabled}}
                            <div class="panel-tag panel-tag_tertiary">disabled</div>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="effect-icon-container {{type}} {{#if disabled}}effect-disabled{{/if}}">
            <div class="icon"
                 data-effect-id="{{effect._id}}"
                 style="background-color: {{effect.tint.css}}; mask-image: url('{{effect.img}}'); background-image: url('{{effect.img}}'); height: {{iconSize}}px; width: {{iconSize}}px;">
            </div>
            {{#if showDurationOverlays}}
                {{#if effect.isExpired}}
                    <i class="expired badge fas fa-clock"></i>
                {{else if effect.isTemporary}}
                    <i class="badge fas fa-clock"></i>
                {{else}}
                    <i class="unlimited badge fas fa-infinity"></i>
                {{/if}}
            {{/if}}
        </div>
    </div>
{{/inline}}

<section id="effects-panel" class="effect-panel">
    {{#if canViewEffectsPanel}}
        <div id="effects-panel-drag-handler">
            <div class="effects-panel-container">
                {{!-- Temporary Effects --}}
                {{#each temporaryEffects as |effect|}}
                    {{> effect-item
                        effect=effect
                        canViewEffectDetails=@root.canViewEffectDetails
                        showDurationOverlays=@root.showDurationOverlays
                        iconSize=@root.iconSize
                        itemSize=@root.itemSize
                        type="temporary"
                    }}
                {{/each}}

                {{#if (and temporaryEffects.length passiveEffects.length)}}
                    <hr style="width: {{effectsPanelIconSize}}px;" />
                {{/if}}

                {{!-- Passive Effects --}}
                {{#each passiveEffects as |effect|}}
                    {{> effect-item
                        effect=effect
                        canViewEffectDetails=@root.canViewEffectDetails
                        showDurationOverlays=@root.showDurationOverlays
                        iconSize=@root.iconSize
                        itemSize=@root.itemSize
                        type="passive"
                    }}
                {{/each}}

                {{#if (and (or disabledTemporaryEffects.length disabledPassiveEffects.length) (or temporaryEffects.length passiveEffects.length))}}
                    <hr style="width: {{effectsPanelIconSize}}px;" />
                {{/if}}

                {{!-- Disabled Temporary Effects --}}
                {{#each disabledTemporaryEffects as |effect|}}
                    {{> effect-item
                        effect=effect
                        canViewEffectDetails=@root.canViewEffectDetails
                        showDurationOverlays=@root.showDurationOverlays
                        iconSize=@root.iconSize
                        itemSize=@root.itemSize
                        type="temporary"
                        disabled=true
                    }}
                {{/each}}

                {{!-- Disabled Passive Effects --}}
                {{#each disabledPassiveEffects as |effect|}}
                    {{> effect-item
                        effect=effect
                        canViewEffectDetails=@root.canViewEffectDetails
                        showDurationOverlays=@root.showDurationOverlays
                        iconSize=@root.iconSize
                        itemSize=@root.itemSize
                        type="passive"
                        disabled=true
                    }}
                {{/each}}
            </div>
        </div>
    {{/if}}
</section>
